.window {
    background: #fff;
    margin-top: 5px;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 3px 6px rgba(111, 111, 111, 0.44)
}

.titlebar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
    background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
    background: linear-gradient(top, #ebebeb, #d5d5d5);
    color: #4d494d;
    font-size: 11pt;
    line-height: 20px;
    text-align: center;
    width: 100%;
    height: 20px;
    border-top: 1px solid #f3f1f3;
    border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    cursor: default;
}

.buttons {
    padding-left: 8px;
    padding-top: 3px;
    float: left;
    line-height: 0px;
}

.buttons:hover a {
    visibility: visible;
}

.closeBtn {
    background: #ff5c5c;
    font-size: 9pt;
    width: 11px;
    height: 11px;
    border: 1px solid #e33e41;
    border-radius: 50%;
    display: inline-block;
}

.minimizeBtn {
    background: #ffbd4c;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 4px;
    width: 11px;
    height: 11px;
    border: 1px solid #e09e3e;
    border-radius: 50%;
    display: inline-block;
}

.zoomBtn {
    background: #00ca56;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 5px;
    width: 11px;
    height: 11px;
    border: 1px solid #14ae46;
    border-radius: 50%;
    display: inline-block;
}

.content {
    padding: 10px;
}

.demoPic {
    border-radius: 3px;
    float: left;
    margin: 0 10px 10px 0;
    width: 180px;
}

.blackHeader {
    color: black!important;
    margin-top: 0;
    font-weight: bold;
}

.linkText {
    color: dodgerblue;
}

.authorText {
    font-size: 10px;
}

.ptext {
    color: #424242;
    font-size: 14px;
}

.demo {
    margin-top: 50px;
}

.demo-helper {
    color: #303030;
    font-family: "verveine", cursive;
    font-size: 22px;
    right: 30px;
    max-width: 178px;
    text-align: center;
    top: -58px;
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    position: absolute;
}

.demo-helper-arrow {
    /*
    background: url("../img/arrow.png") left top no-repeat;
    background-size: 60%;
    height: 64px;
    position: absolute;
    right: 83px;
    -webkit-transform: rotate(-128deg);
    transform: rotate(128deg);
    top: 107px;
    width: 208px;
    z-index: 1;
*/
    
    background: url("../img/arrow.png") left top no-repeat;
    background-size: 100%;
    height: 50px;
    position: absolute;
    right: 96px;
    -webkit-transform: rotate(128deg);
    transform: rotate(128deg);
    top: 83px;
    width: 122px;
    z-index: 1;
}

.windowTitle {
    /*
    position: relative;
    margin-right: 50px;
*/
}

@media (min-width: 768px) {
    .window {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 400px) {
    .window {
        margin-top: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .demoPic {
        display: none;
    }
    .demo-helper {
        top: -69px;
        right: 14px;
    }
    .demo-helper-arrow {
        top: 84px;
        right: -4px;
        width: 101px;
        -webkit-transform: rotate(93deg);
        transform: rotate(93deg);
    }
}

@media (max-width: 767px) {
    .content h1,
    .content h2,
    .content h3,
    .content h4,
    .content h5,
    .content h6,
    .content p {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .bloc .window {
        text-align: left!important;
    }
}

@media (min-width: 1200px) {
    .demo-helper {
        right: 130px;
    }
}